In [1]:
import numpy as np
import pandas as pd

In [3]:
# níveis de índice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3] 
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [6]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [10]:
df = pd.DataFrame(np.random.rand(6, 2), index = hier_index, columns = ['A', 'B'])

In [11]:
df

             A         B
G1 1  0.748254  0.361864
   2  0.569640  0.099954
   3  0.660091  0.404460
G2 1  0.417342  0.023427
   2  0.642010  0.434819
   3  0.979558  0.457403

In [12]:
df.loc['G1']

          A         B
1  0.748254  0.361864
2  0.569640  0.099954
3  0.660091  0.404460

In [13]:
df.loc['G2']

          A         B
1  0.417342  0.023427
2  0.642010  0.434819
3  0.979558  0.457403

In [15]:
df.index.names = ['Grupo', 'Numero']

In [16]:
df

                     A         B
Grupo Numero
G1    1       0.748254  0.361864
      2       0.569640  0.099954
      3       0.660091  0.404460
G2    1       0.417342  0.023427
      2       0.642010  0.434819
      3       0.979558  0.457403

In [18]:
df.xs('G1')

               A         B
Numero
1       0.748254  0.361864
2       0.569640  0.099954
3       0.660091  0.404460

In [19]:
df.xs(1, level = 'Numero')

              A         B
Grupo
G1     0.748254  0.361864
G2     0.417342  0.023427