In [1]:
import numpy as np
import pandas as pd

In [5]:
labels = ['a', 'b', 'c']

In [9]:
lista = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a':10, 'b':30, 'c':30}

In [11]:
pd.Series(data = lista, index=labels)

a    10
b    20
c    30
dtype: int64

In [12]:
ser1 = pd.Series([1, 2, 3, 4], index = ['EUA', 'Alemanha', 'URSS', 'Japão'])

In [13]:
ser1

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [14]:
ser2 = pd.Series([1, 2, 3, 4], index = ['EUA', 'Alemanha', 'Itália', 'Japão'])

In [15]:
ser2

EUA         1
Alemanha    2
Itália      3
Japão       4
dtype: int64

In [16]:
ser1 + ser2

Alemanha    4.0
EUA         2.0
Itália      NaN
Japão       8.0
URSS        NaN
dtype: float64